@import "tailwindcss";

ol, ul, menu{
  list-style: inherit;
  display: inline-block;
  list-style-position: inside;
  padding: 0;
  margin: 0;
}
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

button {
  cursor: pointer;
}